

body {
  margin: 0;
  font-family: 'Roboto', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;

}
h1 {
  color:rgba(19, 1, 1, 0.924);
  padding: 15px;
  text-align: center;
}
.box {
  position:absolute;
  margin: 10%;
  background-color: #557a85;
  max-width: 500px;
}

.app {
  background: #7f9eb4;
  padding: 30px;  
}

.todo-list{
  background: #6f6868;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
}

.todo{
  background: rgb(193, 191, 191);
  box-shadow: 1px 1px 1px rgba(0,0,0, 0.15);
  padding: 20px 20px;
  font-size: 25px;
  margin-bottom: 6px;
  border-radius: 3px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.input{
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  height: 2.75em;
  font-size: 25px;
}
